@model IEnumerable<FeedbackAllViewModel>

@{
	ViewData["Title"] = "All Feedbacks";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

@if (!Model.Any())
{
	<p>No feedback to display!</p>
}
else
{
	<table class="table" id="DataTable">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Title)</th>
				<th width="30%">@Html.DisplayNameFor(model => model.Content)</th>
				<th>Type</th>
				<th>From UserName</th>
				<th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			@foreach (FeedbackAllViewModel item in Model)
			{
				<tr class="table-warning">
					<td>@Html.DisplayFor(modelItem => item.Title)</td>
					<td width="30%">@Html.DisplayFor(modelItem => item.Content)</td>
					<td>@Html.DisplayFor(modelItem => item.FeedbackType)</td>
					<td>@Html.DisplayFor(modelItem => item.ApplicationUserUserName)</td>
					<td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
					<td width="15%"><a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">Edit |</a><a class="text-warning" asp-action="Details" asp-route-id="@item.Id">Details |</a><a class="text-warning" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
}


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });
    </script>
}
