@model FeedbackDeleteViewModel

@{
	ViewData["Title"] = "Delete";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Content)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Content)</dd>

		<dt class="col-sm-2">Feedback Type</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.FeedbackType)</dd>

		<dt class="col-sm-2">User Name</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.ApplicationUserUserName)</dd>

		<dt class="col-sm-2">Tracking Number</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.ShipmentTrackingNumber)</dd>

		<dt class="col-sm-2">Customer Name</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.ApplicationUserCustomerFullName)</dd>
	</dl>

	<form method="post" asp-action="SoftDelete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete that feedback?')" /> |
		<a asp-action="All" class="text-warning">Back to List</a>
	</form>
	<form method="post" asp-action="HardDelete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Permanent Delete" class="btn btn-danger mt-2" onclick="return confirm('Are you sure you want to permanently delete that feedback?')" />
	</form>
</div>
