@model SingleFeedbackViewModel

@{
    ViewData["Title"] = "Feedback no. " + Model.Id + " Details";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div>
    <hr />

    <table class="table table-striped table-bordered mt-4">        
        <tbody>
            <tr scope="row">
                <td class="fw-bold">Title</td>
                <td>@Model.Title</td>               
            </tr>
            <tr scope="row">
                <td class="fw-bold">Sender Name</td>
                <td>@(Model.SenderName ?? string.Empty)</td>                
            </tr>
            <tr scope="row">
                <td class="fw-bold">Content</td>
                <td>@Model.Content</td>
            </tr>
            <tr scope="row">
                <td class="fw-bold">Feedback Type</td>
                <td>@Model.FeedbackType</td>                
            </tr>
            <tr scope="row">
                <td class="fw-bold">Shipment Tracking Number</td>
                <td>@(Model.ShipmentTrackingNumber ?? string.Empty)</td>                
            </tr>
            <tr scope="row">
                <td class="fw-bold">User Name</td>
                <td>@Model.ApplicationUserUserName</td>                
            </tr>
            <tr scope="row">
                <td class="fw-bold">Customer Name</td>
                <td>@Model.ApplicationUserCustomerFullName</td>
            </tr>
            <tr scope="row">
                <td class="fw-bold">User Phone Number</td>
                <td>@Model.ApplicationUserCustomerPhoneNumber</td>
            </tr>

        </tbody>
    </table>   
       
</div>
<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="text-warning fw-bold">Edit</a> |
    <a asp-action="All" class="text-warning fw-bold">Back to List</a>
</div>


