@model ShipmentAllImagesViewModel

@{
    ViewBag.Title = "Shipment photos (Tracking No. " + ViewData[TrackingNumber] + ")";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Images.Any())
{
    <h2 class="text-center mt-7 mb-7">No images available for the shipment!</h2>
}


<div class="row ms-6">
    @foreach (SingleShipmentImageViewModel image in Model.Images)
    {
        <div class="card col-md-5 mt-3 me-6 mb-5">
            <img src="@image.ImageUrl" width="170" height="200" class="card-img-top" alt="...">
            <div class="card-body">              
                    <form asp-area="Staff" asp-controller="ShipmentImage" asp-action="Delete" id="deleteForm" asp-route-Id="@image.Id" asp-route-shipmentId="@Model.ShipmentId" asp-route-page="@Model.CurrentPageNumber" onclick="return confirm('Are you sure you want to delete that image?')">
                        <button class="btn btn-danger">
                            Delete

                        </button>
                    </form>          
             </div>
        </div>
    }
</div>

<vc:paging-shipment-image shipment-id="@Model.ShipmentId" page="@Model.CurrentPageNumber"></vc:paging-shipment-image>


