@model ShipmentTrackingPathDetailsModel

@{
    ViewBag.Title = "Shipment Tracking Path";
}

<script>
    var msg = '@TempData[Message]';
    if (msg.length) {
        alert(msg);
    }
</script>


<h2 class="text-center">@ViewBag.Title</h2>
<p></p>
<h4 class="text-center mt-4">Shipment info: Tracking Number @Model.TrackingNumber</h4>


<table class="table table-striped table-bordered mt-4">
    <thead>
        <tr>           
            <th scope="col">Date And Time</th>
            <th scope="col">Operation</th>
            <th scope="col">Place Of Operation</th>                      
        </tr>
    </thead>
    <tbody>
         <tr scope="row">          
            <td>@Model.AcceptanceFromCustomer</td>
            <td>Acceptance From Sender: @Model.Shipment.SenderName</td>
            <td>@Model.Shipment.PickUpAddressCityCountry</td>
        </tr>
        <tr scope="row">         

            <td>@Model.PickedUpByCourier</td>
            <td>Picked Up By Courier</td>
            <td>@Model.Shipment.PickUpAddressCityCountry</td>
        </tr>
        <tr scope="row">          
            <td>@Model.SentFromDispatchingOffice</td>
            <td>Sent From Office</td>
            <td>@(Model.SendingOfficeAddress ?? string.Empty) @(Model.SendingOfficeCity ?? string.Empty) @(Model.SendingOfficeCountry ?? string.Empty)</td>
        </tr>
        <tr scope="row">         
            <td>@Model.ArrivalInReceivingOffice</td>
            <td>Arrival At Office</td>
            <td>@(Model.ReceivingOfficeAddress ?? string.Empty) @(Model.ReceivingOfficeCity ?? string.Empty) @(Model.ReceivingOfficeCountry ?? string.Empty)</td>
        </tr>
        <tr scope="row">         
            <td>@Model.FinalDeliveryPreparation</td>
            <td>Preparation In Office For Delivery To Client</td>
            <td>@(Model.ReceivingOfficeAddress ?? string.Empty) @(Model.ReceivingOfficeCity ?? string.Empty) @(Model.ReceivingOfficeCountry ?? string.Empty)</td>
        </tr>
        <tr scope="row">     
            <td>@Model.FinalDelivery</td>
            <td>Delivery To Customer: @Model.Shipment.ReceiverName</td>
            <td>@Model.Shipment.DestinationAddressCityCountry</td>
        </tr>
        
    </tbody>
</table>

@if (this.User.Identity.IsAuthenticated)
{
    @if(this.User.IsInRole(AdministratorRoleName)
     || this.User.IsInRole(EmployeeRoleName)
     || this.User.IsInRole(ManagerRoleName))
     {
        <div class="form-inline offset-5 mt-5">
            <a class="btn btn-warning" asp-area="Staff" asp-controller="ShipmentTrackingPath" asp-action="Update" asp-route-id="@Model.Id">Update Details</a>  
        </div>
            }
            else
            {
        <div class="text-center">
            <a asp-area="" asp-controller="Home" asp-action="Index"
       class="btn btn-warning btn-lg me-3">Back To Home Page</a>
        </div>
            }
}

<div class="form-inline offset-5 mt-4 mb-3">
    @if (this.User.Identity.IsAuthenticated 
    && (this.User.IsInRole(AdministratorRoleName)
    || this.User.IsInRole(ManagerRoleName)))
    {
        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"
       class="btn btn-outline-warning btn-lg">Back To Admin Dashboard</a>
    }
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(EmployeeRoleName))
    {
        <a asp-area="Staff" asp-controller="Board" asp-action="Index"
       class="btn btn-outline-warning btn-lg">Back To Staff Board</a>
    }    
</div>



    

