@model DashboardViewModel
@{
    this.ViewData["Title"] = "Welcome To Admin Dashboard";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<hr />

<table class="table table-striped table-hover mt-5">
    <thead>
        <tr class="table-danger">
            <th><label><b>Total Number</b></label></th>
            <th><label><b>Count</b></label></th>
            <th><label><b>Option</b></label></th>           
        </tr>
    </thead>
    <tbody>
        <tr class="table-warning">
                <td><label>Offices</label></td>
                <td><label>@Model.OfficesCount</label></td>
           <td></td>
           </tr>
        <tr>
            <td><label>Company Vehicles</label></td>
            <td><label>@Model.VehiclesCount</label></td>
            <td></td>
        </tr>
        <tr class="table-warning">
            <td><label>Employees</label></td>
            <td><label>@Model.EmployeesCount</label></td>
            <td>
                <form asp-area="Administration" asp-controller="Search" asp-action="SearchEmployee" method="get">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </td>
        </tr>
      
        <tr>
            <td><label>Customers</label></td>
            <td><label>@Model.CustomersCount</label></td>
            <td>
                <form asp-area="Staff" asp-controller="Search" asp-action="SearchCustomer" method="get">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </td>
        </tr>
        <tr class="table-warning">
            <td><label>Active Shipments</label></td>
            <td><label>@Model.ShipmentsCount</label></td>
            <td>
                <form asp-area="Staff" asp-controller="Search" asp-action="SearchShipment" method="get">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </td>
        </tr>     
        <tr>
            <td><label>Tracking Paths</label></td>
            <td><label>@Model.TrackingPathsCount</label></td>
            <td>
                <form asp-area="" asp-controller="Search" asp-action="SearchTrackingPath" method="get">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div class="offset-3 mt-5 mb-5">
    <a asp-area="Administration" asp-controller="Employee" asp-action="Add"
       class="btn btn-primary btn-lg me-3">Add Employee</a>

    <a asp-area="Staff" asp-controller="Customer" asp-action="Add"
       class="btn btn-primary btn-lg me-3">Add Customer</a>

    <a asp-area="Staff" asp-controller="Shipment" asp-action="Add"
       class="btn btn-primary btn-lg me-3">Add Shipment</a>
</div>

