@model DashboardViewModel
@{
    this.ViewData["Title"] = "Welcome To Admin Dashboard";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<hr />

<table class="table table-striped table-hover mt-5">
    <thead>
        <tr class="table-danger">
            <th><label><b>Subject</b></label></th>
            <th><label><b>Count</b></label></th>
            <th><label><b>Option</b></label></th>           
        </tr>
    </thead>
    <tbody>
        <tr class="table-warning">
                <td><label>Number Of Offices</label></td>
                <td><label>@Model.OfficesCount</label></td>
            <td>
                <form asp-area="Administration" asp-controller="Office" asp-action="All" method="post">
                    <button type="submit" class="btn btn-danger">View All</button>
                </form>
            </td>
           </tr>
           <tr>
            <td><label>Number Of Employees</label></td>
            <td><label>@Model.EmployeesCount</label></td>
            <td>
                <form asp-area="Administration" asp-controller="Employee" asp-action="All" method="post">
                    <button type="submit" class="btn btn-danger">View All</button>
                </form>
            </td>
        </tr>
        <tr class="table-warning">
            <td><label>Number Of Company Vehicles</label></td>
            <td><label>@Model.VehiclesCount</label></td>
            <td>
                <form asp-area="Administration" asp-controller="Vehicle" asp-action="All" method="post">
                    <button type="submit" class="btn btn-danger">View All</button>
                </form>
            </td>
        </tr>
        <tr>
            <td><label>Number Of Customers</label></td>
            <td><label>@Model.CustomersCount</label></td>
            <td>
                <form asp-area="Administration" asp-controller="Customer" asp-action="Search" method="post">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </td>
        </tr>
        <tr class="table-warning">
            <td><label>Number Of Active Shipments</label></td>
            <td><label>@Model.ShipmentsCount</label></td>
            <td>
                <form asp-area="Administration" asp-controller="Shipment" asp-action="Search" method="post">
                    <button type="submit" class="btn btn-danger">Search</button>
                </form>
            </td>
        </tr>
            </tbody>
</table>

<div class="offset-3 mt-5 mb-5">
    <a asp-area="Administration" asp-controller="Employee" asp-action="Add"
       class="btn btn-primary btn-lg me-3">Add Employee</a>

    <a asp-area="Staff" asp-controller="Customer" asp-action="Add"
       class="btn btn-primary btn-lg me-3">Add Customer</a>

    <a asp-area="Staff" asp-controller="Shipment" asp-action="Add"
       class="btn btn-primary btn-lg me-3">Add Shipment</a>
</div>

