@model CustomerDetailsViewModel

@{
    ViewBag.Title = "Customer Details";
}

<script>
    var msg = '@TempData[Message]';
    if (msg.length) {
        alert(msg);
    }
</script>


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
    <div class="row ms-7"> 
        <div class="col-6 card text-body bg-soft-warning bg-gradient mt-2">
            <input type="hidden" asp-for="@Model.Id" />
            <p style="font-size:17px;"><u>Client Name:</u></p>
            <p>@Model.FullName - Phone number: @Model.PhoneNumber</p>
            <p style="font-size:17px;"><u>Client Full Address:</u></p>
            <p>@Model.FullAddress </p>
            <p style="font-size:17px;"><u>Company Name:</u></p>
            <p>@(@Model.CompanyName ?? "None")</p>
            <p style="font-size:17px;"><u>Total Number Of Shipments:</u> @Model.TotalNumberOfShipments</p>
        </div>                 
      
        <div class="col-5 mt-2 mt-3 ms-3">
            <img class="card-img-top" style="width: 25rem;"
                 src="~/img/gallery/depositphotos_10956385-stock-photo-postal-delivery-courier-in-a.jpg" alt="">           
        </div>
        <div class="form-inline offset-4 mt-4">
            @if (this.User.IsInRole(AdministratorRoleName) 
            || this.User.IsInRole(ManagerRoleName) || this.User.IsInRole(EmployeeRoleName))
            {
            <a class="btn btn-warning" asp-area="Staff" asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                @if (this.User.IsInRole(AdministratorRoleName)
               || this.User.IsInRole(ManagerRoleName))
               {
                    <a class="ms-2 btn btn-danger" asp-area="Staff" asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to delete that customer?')">Delete</a>
                }         
            }
        </div>    
  </div>





