@model ShipmentDetailsViewModel

@{
    ViewBag.Title = "Shipment Details";
    IDictionary<string, string> dropDownEnums = new Dictionary<string, string>()
    {
        {"SamedayCourier", SameDayCourier},
        {"OvernightShipping", OvernightShipping},
        {"StandardDeliveryService", StandardDeliveryService},
        {"DoorToDoor", DoorToDoor},
        {"DoorToOffice", DoorToOffice},
        {"OfficeToDoor", OfficeToDoor},
        {"OfficeToOffice", OfficeToOffice},
        {"CarParts", CarParts},
        {"Documents", "Documents"},
        {"Stationeries", "Stationeries"},
        {"Furniture", "Furniture"},
        {"Textile", "Textile"},
        {"Medicaments", "Medicaments"},
        {"Technique", "Technique"},
     };
}

<script>
    var msg = '@TempData[Message]';
    if (msg.length) {
        alert(msg);
    }
</script>


<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container" style="display:inline">
    <div class="row">
        <div class="col-5">
            <img class="card-img-top" style="width: 25rem;"
                 src="~/img/gallery/netCourier.jpg" alt="">                      
        </div>
        <div class="card col-6 border-0">
            <p style="font-size:26px;">Tracking Number: @Model.TrackingNumber</p>
            <p><b>Sender: </b>@Model.SenderFullName - <b>Phone number: </b>@Model.SenderPhoneNumber</p>
            <p><b>Receiver: </b>@Model.ReceiverFullName - <b>Phone number: </b>@Model.ReceiverPhoneNumber</p>
            <p><b>Origin: </b>@Model.FullPickUpAddress</p>
            <p><b>Destination: </b>@Model.FullDestinationAddress</p>
            <p><b>Delivery: </b>@dropDownEnums[Model.DeliveryWay]</p>
            <p><b>Product Type: </b>@dropDownEnums[Model.ProductType]</p>
            <p><b>Delivery Type: </b>@dropDownEnums[Model.DeliveryType]</p>
            <p><b>Weight: </b>@Model.Weight kg</p>
            <p><b>Price: </b>@Model.Price lv</p>
            <p class="text-center"><b>Assigned To Employees: </b></p>
            @foreach (EmployeeShipmentViewModel employee in this.Model.EmployeesShipments)
            {               
                  <div class="card mb-1" style="max-width:1140px;max-height:150px;">
                     <div class="card-body d-md-inline-block">
                        <input type="hidden" asp-for="@employee.EmployeeId" />
                        <input type="hidden" asp-for="@employee.ShipmentId" />
                               <p><b>Name: </b>@employee.FullName</p>                      
                               <p><b>Position: </b>@employee.Position, <b>Office: </b> @employee.OfficeCity</p>
                        <ul class="btn-group-toggle" style="list-style:none">
                            <li class="single-meta">
                                <form asp-area="Administration" asp-controller="Shipment" asp-action="RemoveEmployee" id="deleteForm" asp-route-shipmentId="@employee.ShipmentId" asp-route-employeeId="@employee.EmployeeId">
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Remove</button>
                                </form>
@*                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Remove</button>*@
                            </li>
                        </ul>
                    </div>           
                  </div>
                
            }
        </div>
        <div class="form-inline offset-4 mt-3">
            @* @if (this.User.Identity.IsAuthenticated)
            {*@
            <a class="btn btn-warning" asp-area="Administration" asp-controller="Shipment" asp-action="Edit"
               asp-route-id="@Model.Id">Edit</a>
            <a class="ms-2 btn btn-danger" asp-area="Administration" asp-controller="Shipment" asp-action="Delete"
               asp-route-id="@Model.Id">Delete</a>
            <a class="ms-2 btn btn-warning" asp-area="Administration" a
               sp-controller="ShipmentTrackingPath" asp-action="Create"
               asp-route-id="@Model.Id">Create Tracking Path</a>
            <a class="ms-2 btn btn-warning" asp-area="Administration" asp-controller="Employee" asp-action="GetAll" asp-route-Id="@Model.Id">Assign Employee</a>
            @* }*@
        </div>
    </div>
</div>



<!--Delete Modal-->
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to remove that employee?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

