@model ShipmentDetailsViewModel

@{
    ViewBag.Title = "Shipment Details";
    IDictionary<string, string> dropDownEnums = new Dictionary<string, string>()
    {
        {"SamedayCourier", SameDayCourier},
        {"OvernightShipping", OvernightShipping},
        {"StandardDeliveryService", StandardDeliveryService},
        {"DoorToDoor", DoorToDoor},
        {"DoorToOffice", DoorToOffice},
        {"OfficeToDoor", OfficeToDoor},
        {"OfficeToOffice", OfficeToOffice},
        {"CarParts", CarParts},
        {"Documents", "Documents"},
        {"Stationeries", "Stationeries"},
        {"Furniture", "Furniture"},
        {"Textile", "Textile"},
        {"Medicaments", "Medicaments"},
        {"Technique", "Technique"},
     };
}

<script>
    var msg = '@TempData[Message]';
    if (msg.length) {
        alert(msg);
    }
</script>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="~/img/gallery/netCourier.jpg" alt="">
        </div>
        <div class="card col-6 border-0">
            <p style="font-size:25px;">Tracking Number: @Model.TrackingNumber</p>
            <p><b>Sender: </b>@Model.SenderFullName - <b>Phone number: </b>@Model.SenderPhoneNumber</p>
            <p><b>Receiver: </b>@Model.ReceiverFullName - <b>Phone number: </b>@Model.ReceiverPhoneNumber</p>
            <p><b>Origin: </b>@Model.FullPickUpAddress</p>
            <p><b>Destination: </b>@Model.FullDestinationAddress</p>
            <p><b>Delivery: </b>@dropDownEnums[Model.DeliveryWay]</p>
            <p><b>Product Type: </b>@dropDownEnums[Model.ProductType]</p>
            <p><b>Delivery Type: </b>@dropDownEnums[Model.DeliveryType]</p>
            <p><b>Weight: </b>@Model.Weight kg</p>
            <p><b>Price: </b>@Model.Price lv</p>
            @*       @foreach (EmployeeToShipmentViewModel employee in Model.EmployeesToShipment)
            {
            <p>@employee.FullName - @employee.Position, @employee.OfficeCity</p>

            }*@
        </div>
        <div class="form-inline offset-4 mt-3">
            @*  @if (this.User.Identity.IsAuthenticated)
            {*@
            <a class="btn btn-warning" asp-area="Administration" asp-controller="Shipment" asp-action="Edit"
               asp-route-id="@Model.Id">Edit</a>
            <a class="ms-2 btn btn-danger" asp-area="Administration" asp-controller="Shipment" asp-action="Delete"
               asp-route-id="@Model.Id">Delete</a>
            <a class="ms-2 btn btn-warning" asp-area="Administration" a
               sp-controller="ShipmentTrackingPath" asp-action="Create"
               asp-route-id="@Model.Id">Create Tracking Path</a>
            <a class="ms-2 btn btn-warning" asp-area="Administration" asp-controller="Employee" asp-action="GetAll" asp-route-Id="@Model.Id">Assign Employee</a>
            @*   }*@
        </div>
    </div>
</div>


