@model EmployeeDetailsViewModel

@{
	ViewBag.Title = "Employee Details";
}

<script>
	var msg = '@TempData[Message]';
	if (msg.length) {
		alert(msg);
	}
</script>



<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row ms-4">
	<div class="col-6 text-900 ms-3 me-3 mt-3 mb-3">
		<input type="hidden" asp-for="@Model.Id" />
		<table class="table table-striped table-hover" table-name="Employee Details">
			<tbody>
				<tr><td><u>Employee Name</u></td></tr>
				<tr><td>@Model.FullName</td> </tr>
				<tr><td><u>Phone Number</u></td> </tr>
				<tr><td>@Model.PhoneNumber</td> </tr>
				<tr><td><u>Employee Position</u></td> </tr>
				<tr><td>@Model.PositionJobTitle</td> </tr>
				@if (this.User.Identity.IsAuthenticated && this.User.IsInRole(AdministratorRoleName))
				{
					@if (Model.ApplicationUserUserName != null)
					{
						<tr><td><u>Employee Username</u></td> </tr>
						<tr><td>@Model.ApplicationUserUserName</td> </tr>
					}
					@if (Model.ApplicationUserEmail != null)
					{
						<tr><td><u>Employee Email</u></td> </tr>
						<tr><td>@Model.ApplicationUserEmail</td> </tr>
					}
				}
				<tr><td><u>Office Details</u></td> </tr>
				<tr><td>@Model.OfficeDetails</td> </tr>
				<tr><td><u>Employee Vehicle (if any assigned)</u></td> </tr>
				<tr>
					@if (Model.VehicleModel == null && Model.VehiclePlateNumber == null)
					{
						<td>None</td>
					}
					else
					{
						<td>@Model.VehicleModel, @Model.VehiclePlateNumber</td>
					}
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-5 ms-3 me-3 mt-3 mb-3">
		<img class="card-img-top" style="width: 27rem; height: 30rem;"
			 src="~/img/gallery/employeedetails.jpg" alt="">
	</div>
	<div class="form-inline offset-4">
		<a class="btn btn-warning" asp-area="Administration" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
		<a class="ms-2 btn btn-danger" asp-area="Administration" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to delete that employee?')">Delete</a>
	</div>
</div>

